<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Telco Service - Buy</title>
</head>
<body>
<div class="navbar">
    <a class="active" href="GoToHomePage">Home</a>
    <a href="GoToLoginPage">Login</a>
    <span class="login-status" th:text="'Welcome, ' + (*{user != null}? *{user.username} : 'user')"></span>
</div>

<br>

<div class="container">
    <h1>Buy a service package</h1>
    <h3>Choose a service package and the related period:</h3>
    <span th:if="${#lists.isEmpty(servicePackages)}">No service packages available</span>
    <table>
        <tr th:if="${#lists.isEmpty(servicePackages)}">There are currently no service packages available</tr>
        <tr th:unless="${#lists.isEmpty(servicePackages)}">
            <th>ID</th>
            <th>Name</th>
            <th>Customize</th>
        </tr>
        <tr th:each="servpckg, iter : ${servicePackages}" th:class="${iter.odd}? 'odd' : 'even'">
            <td th:text="${servpckg.id}"></td>
            <td th:text="${servpckg.name}"></td>
            <td>
                <div th:if="${#sets.isEmpty(servpckg.services)}">
                    <span>No services available</span>
                </div>
                <div th:unless="${#sets.isEmpty(servpckg.services)}" th:each="service : ${servpckg.services}">
                    <label th:text="${service.type}"></label>
                    <br>
                    <label th:text="${service.getFeesString()}"></label>
                </div>
                <form th:id="buy-form+${servpckg.id}" method="GET" action="PrepareOrder">
                    <input type="hidden" name="serv_pckg_id" th:value="${servpckg.id}" th:form="buy-form+${servpckg.id}">
                    <br>
                    <label th:for="validity-period+${servpckg.id}">Validity period:
                        <select th:id="validity-period+${servpckg.id}" name="val_per_id" th:form="buy-form+${servpckg.id}">
                            <option value="-1" th:if="${#sets.isEmpty(servpckg.validityPeriods)}">No periods available</option>
                            <option th:each="valPer : ${servpckg.validityPeriods}" th:value="${valPer.id}"
                                    th:text="${valPer.months} + ' months'"></option>
                        </select>
                    </label>
                    <br>
                    <div th:if="${#sets.isEmpty(servpckg.optionalProducts)}">
                        <span>No optional products available</span>
                        <br>
                    </div>
                    <div th:each="optProd,iter : ${servpckg.optionalProducts}">
                        <label th:text="${optProd.name}"></label>
                        <input type="checkbox" th:name="opt_prod_id+${iter.index}" th:value="${optProd.id}" th:form="buy-form+${servpckg.id}">
                    </div>
                    <input type="submit" th:form="buy-form+${servpckg.id}" value="BUY">
                </form>
            </td>
        </tr>
    </table>
    <br>
    <form action="GoToHomePage" id="go-back" method="GET">
        <input type="submit" value="Back">
    </form>
</div>
</body>
</html>