<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Telco Service - Confirm</title>
</head>
<body>
<div class="navbar">
    <a class="active" href="GoToHomePage">Home</a>
    <span th:if="${user != null}">
        <a href="GoToSchedulePage">Activation Schedule</a>
        <span th:if="${user.isEmployee()}">
            <a href="GoToEmployeeHomePage">Employee Home</a>
            <a href="GoToSalesReportPage">Sales Report</a>
        </span>
    </span>
    <a href="GoToLoginPage">Login</a>
    <span class="login-status" th:text="'Welcome, ' + (*{user != null}? *{user.username} : 'user')"></span>
</div>

<br>

<div class="container">
    <h1>Confirm your choices</h1>
    <br>
    <span th:unless="${order != null}" style="color:red">The order is empty</span>
    <div th:if="${order != null}">

        <b>Package Name: </b>
        <br>
        <div th:unless="${order.servicePackage.name != null}" style="color:red">Service package name unavailable</div>
        <div th:text="${order.servicePackage.name}"></div>

        <b>Services: </b>
        <br>
        <div th:if="${#sets.isEmpty(order.servicePackage.services)}" style="color:red">Services unavailable</div>
        <div th:unless="${#sets.isEmpty(order.servicePackage.services)}">
            <span th:each="serv : ${order.servicePackage.services}">
                <span th:text="'- ' + ${serv.type} + ' - Fees: ' + ${serv.getFeesString()}"></span>
                <br>
            </span>
        </div>

        <b>Validity Period: </b>
        <br>
        <div th:unless="${order.validityPeriod.months != null}" style="color:red">Validity period unavailable</div>
        <div th:text="${order.validityPeriod.months} + ' months, at ' + ${order.validityPeriod.monthlyFee} + ' euros/month'"></div>

        <b>Optional Products: </b>
        <br>
        <div th:if="${#sets.isEmpty(order.optionalProducts)}">No optional products selected</div>
        <div th:unless="${#sets.isEmpty(order.optionalProducts)}">
            <span th:each="opt : ${order.optionalProducts}">
                <span th:text="'- ' + ${opt.name} + ' (' + ${opt.monthlyFee} + ' euros/month)'"></span>
                <br>
            </span>
        </div>

        <b>Start Date: </b>
        <br>
        <div>
            <span th:text="${order.startDateTs.toString().split(' ')[0]}"></span>
        </div>

        <br>

        <b>Total Cost: </b>
        <div th:text="${order.totalValue} + ' euros'"></div>
    </div>

    <br><br>

    <form th:unless="${user != null}" action="GoToLoginPage"
          method="GET">
        <label>To proceed with the payment, please log in</label>
        <input type="submit" value="LOGIN">
    </form>
    <form th:if="${user != null}" action="ValidPayment"
          method="GET">
        <input type="hidden" name="order-id" th:value="${order.id}">
        <input type="submit" value="BUY (OK)">
    </form>
    <form th:if="${user != null}" action="InvalidPayment"
          method="GET">
        <input type="hidden" name="order-id" th:value="${order.id}">
        <input type="submit" value="BUY (DENIED)">
    </form>
</div>
</body>
</html>