<!DOCTYPE html>
<html lang="en">
<link href="css/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function () {
        const requiredCheckboxes = $('.services :checkbox[required]');
        requiredCheckboxes.change(function () {
            if (requiredCheckboxes.is(':checked')) {
                requiredCheckboxes.removeAttr('required');
            } else {
                requiredCheckboxes.attr('required', 'required');
            }
        });
    });
    $(function () {
        const requiredCheckboxes = $('.validity-periods :checkbox[required]');
        requiredCheckboxes.change(function () {
            if (requiredCheckboxes.is(':checked')) {
                requiredCheckboxes.removeAttr('required');
            } else {
                requiredCheckboxes.attr('required', 'required');
            }
        });
    });
</script>
<head>
    <title>Employee Home</title>
</head>
<body>
<div class="navbar">
    <a class="active" href="GoToHomePage">Home</a>
    <span th:if="${user != null}">
        <a href="GoToSchedulePage">Activation Schedule</a>
        <span th:if="${user.isEmployee()}">
            <a href="GoToSalesReportPage">Sales Report</a>
        </span>
    </span>
    <a href="GoToLoginPage">Login</a>
    <span class="login-status" th:text="'Welcome, ' + (*{user != null}? *{user.username} : 'user')"></span>
</div>

<br>

<div class="container">
    <div th:if="${user != null && user.isEmployee()}">
        <p></p>
        <h1>Employee home</h1>

        <h3>Create service package:</h3>
        <form action="create-service-package" method="POST">
            <div>
                <b>Package name:</b>
                <label>
                    <input required type="text" name="package-name">
                </label>
            </div>
            <br>
            <div class="services">
                <b>Services:</b>
                <br>
                <span style="color: red" th:if="${#lists.isEmpty(services)}">
                    No services available
                </span>
                <span th:unless="${#lists.isEmpty(services)}">
                    <span th:each="se,iter : ${services}">
                        <input type="checkbox" th:name="service+${iter.index}" th:value="${se.getId()}">
                        <b>Id:</b> <label th:text="${se.getId()}"></label>
                        <b> - Type:</b> <label th:text="${se.getType()}"></label>
                        <b> - Fees:</b> <label th:text="${se.getFeesString()}"></label>
                        <br>
                    </span>
                </span>
            </div>
            <br>
            <div class="validity-periods">
                <b>Validity periods:</b>
                <br>
                <span style="color: red" th:if="${#lists.isEmpty(validityPeriods)}">
                    No validity periods available
                </span>
                <span th:unless="${#lists.isEmpty(validityPeriods)}">
                    <span th:each="vp,iter : ${validityPeriods}">
                        <input type="checkbox" th:name="validity-period+${iter.index}" th:value="${vp.getId()}">
                        <b>Id:</b> <label th:text="${vp.getId()}"></label>
                        <b> - Duration:</b> <label th:text="${vp.getMonths()}"></label> months
                        <b> - Monthly cost:</b> <label th:text="${vp.getMonthlyFee()}"></label> euros
                        <br>
                    </span>
                </span>
            </div>
            <br>
            <div class="optional-products">
                <b>Optional products:</b>
                <br>
                <span th:if="${#lists.isEmpty(optionalProducts)}" style="color: red">
                    No optional products available
                </span>
                <span th:unless="${#lists.isEmpty(optionalProducts)}">
                    <span th:each="op,iter : ${optionalProducts}">
                        <input type="checkbox" th:name="optional-product+${iter.index}" th:value="${op.getId()}">
                        <b>Id:</b> <label th:text="${op.getId()}"></label>
                        <b> - Name:</b> <label th:text="${op.getName()}"></label>
                        <b> - Monthly cost:</b> <label th:text="${op.getMonthlyFee()}"></label> euros
                        <br>
                    </span>
                </span>
            </div>
            <br>
            <input type="submit" value="Create package">
        </form>

        <br>

        <h3>Create optional product:</h3>
        <form action="create-optional-product" method="POST">
            Product name:
            <label>
                <input required type="text" name="product-name">
            </label>
            <br>
            Monthly fee:
            <label>
                <input required type="number" name="monthly-fee" step=".01">
            </label>
            <br>
            <br>
            <input type="submit" value="Create product">
        </form>
    </div>

    <div th:if="${user == null || !user.isEmployee()}">
        You need to be an employee to access this page.
    </div>
</div>
</body>
</html>