<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
Welcome to your home user!
<br><br><br>
List of all service packages
<br>
<ul th:unless="${#lists.isEmpty(servicePackages)}">
    <li th:each="servpckg : ${servicePackages}">
    <span
            th:text="${servpckg.id +  '  '  + servpckg.name +  '  '  + servpckg.subsID }"></span>
    </li>
</ul>
</body>
</html>