<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Telco Service - Home</title>
</head>
<body>
<p class="login-status" th:text="'Welcome, ' + (*{user != null}? *{user.username} : 'user')"></p>
<br>
<div th:if="${user != null && user.isinsolvent}">
    <h2>Rejected orders</h2>
    <ul>
        <li th:each="order : ${user.orders}" th:if="${!order.isvalid}" th:text="'id: ' + ${order.id} + ' amount due: ' + ${order.totalvalue}"></li>
    </ul>
</div>
<h2>List of all service packages</h2>
<ul th:if="${#lists.isEmpty(servicePackages)}"><li>There are currently no service packages available<br></li></ul>
<ul th:unless="${#lists.isEmpty(servicePackages)}">
    <li th:each="servpckg : ${servicePackages}">
        <span th:text="${servpckg.id +  '  '  + servpckg.name}"></span>
        <div th:if="${#sets.isEmpty(servpckg.services)}"><ul><li>This package has no services</li></ul></div>
        <ul th:unless="${#sets.isEmpty(servpckg.services)}">
            <li th:each="service : ${servpckg.services}">
                <span th:text="${service.type}"></span>
                <br>
                <span th:text="${service.getFeesString()}"></span>
            </li>
        </ul>
        <span th:if="${#sets.isEmpty(servpckg.optionalProducts)}">This package has no optional products<br></span>
        <ul th:unless="${#sets.isEmpty(servpckg.optionalProducts)}">
            <li th:each="optionalProduct : ${servpckg.optionalProducts}">
                <span>Optional Product</span><br>
                <span th:text="${optionalProduct.name}"></span>
            </li>
        </ul>
        <span th:if="${#sets.isEmpty(servpckg.validityPeriods)}">This package has no validity periods<br></span>
        <ul th:unless="${#sets.isEmpty(servpckg.validityPeriods)}">
            <li th:each="validityPeriod : ${servpckg.validityPeriods}">
                <span th:text="'Valid for ' + ${validityPeriod.months} + ' months at a cost of ' + ${validityPeriod.monthlyFee} + ' euros per month'"></span>
            </li>
        </ul>
    </li>
</ul>
<form action="GoToBuyServicePage">
    <input type="submit" value="Buy a service">
</form>
</body>
</html>