<!DOCTYPE html>
<html lang="en">
<link href="css/style.css" rel="stylesheet">
<head>
    <title>Sales Report</title>
</head>
<body>
<h1>Sales report:</h1>
<h3>Service packages:</h3>
<ul th:if="${#lists.isEmpty(srServicePackages)}"><li>There are currently no service packages in the sales report.<br></li></ul>
<ul th:unless="${#lists.isEmpty(srServicePackages)}">
    <li th:each="srsp : ${srServicePackages}">
        Service Package ID: <span th:text="${srsp.getServPckgId()}"></span>
        <ul>
            <li>
                Purchases: <span th:text="${srsp.getPurchases()}"></span>
                <br>
                Total sales without counting products: <span th:text="${srsp.getSalesValueNoProducts()}"></span>
                <br>
                Total sales counting products: <span th:text="${srsp.getSalesValueWithProducts()}"></span>
                <br>
                Average number of products: <span th:text="${srsp.getAvgNumProducts()}"></span>
            </li>
        </ul>
    </li>
</ul>
<br>
<h3>Service packages / validity periods:</h3>
<ul th:if="${#lists.isEmpty(srValidityPeriodServicePackages)}"><li>There are currently no service packages / validity period pairings in the sales report.<br></li></ul>
<ul th:unless="${#lists.isEmpty(srValidityPeriodServicePackages)}">
    <li th:each="srvpsp : ${srValidityPeriodServicePackages}">
        Service Package ID: <span th:text="${srvpsp.getServPckgId()}"></span>
        <br>
        Validity Period ID: <span th:text="${srvpsp.getValPeriodId()}"></span>
        <ul>
            <li>
                Number of purchases: <span th:text="${srsp.getPurchases()}"></span>
            </li>
        </ul>
    </li>
</ul>
<br>
</body>
</html>