<!DOCTYPE html>
<html lang="en">
<link href="css/style.css" rel="stylesheet">
<head>
    <title>Sales Report</title>
</head>
<body>
<div class="navbar">
    <a class="active" href="GoToHomePage">Home</a>
    <span th:if="${user != null}">
        <a href="GoToSchedulePage">Activation Schedule</a>
        <span th:if="${user.isEmployee()}">
            <a href="GoToEmployeeHomePage">Employee Home</a>
        </span>
    </span>
    <a href="GoToLoginPage">Login</a>
    <span class="login-status" th:text="'Welcome, ' + (*{user != null}? *{user.username} : 'user')"></span>
</div>

<br>

<div class="container">
    <div th:if="${user != null && user.isEmployee()}">
        <h1>Sales report:</h1>

        <h3>Service packages:</h3>
        <div th:if="${#lists.isEmpty(srServicePackages)}">There are currently no service packages in the sales report.</div>
        <table th:unless="${#lists.isEmpty(srServicePackages)}">
            <tr>
                <th>Service Package ID</th>
                <th>Service Package Name</th>
                <th>No. of purchases</th>
                <th>Total sales w/o products</th>
                <th>Total sales w/ products</th>
                <th>Avg no. of products</th>
            </tr>
            <tr th:each="srsp,iter : ${srServicePackages}" th:class="${iter.odd}? 'odd' : 'even'">
                <td th:text="${srsp.getServPckgId()}"></td>
                <td th:text="${srsp.getServicePackage().getName()}"></td>
                <td th:text="${srsp.getPurchases()}"></td>
                <td th:text="${srsp.getSalesValueNoProducts()}"></td>
                <td th:text="${srsp.getSalesValueWithProducts()}"></td>
                <td th:text="${srsp.getAvgNumProducts()}"></td>
            </tr>
        </table>

        <br>

        <h3>Service packages / validity periods:</h3>
        <div th:if="${#lists.isEmpty(srValidityPeriodServicePackages)}">There are currently no service packages / validity period pairings in the sales report.</div>
        <table th:unless="${#lists.isEmpty(srValidityPeriodServicePackages)}">
            <tr>
                <th>Service Package ID</th>
                <th>Service Package Name</th>
                <th>Validity Period ID</th>
                <th>No. of purchases</th>
            </tr>
            <tr th:each="srvpsp,iter : ${srValidityPeriodServicePackages}" th:class="${iter.odd}? 'odd' : 'even'">
                <td th:text="${srvpsp.getServPckgId()}"></td>
                <td th:text="${srvpsp.getServicePackage().getName()}"></td>
                <td th:text="${srvpsp.getValPeriodId()}"></td>
                <td th:text="${srvpsp.getPurchases()}"></td>
            </tr>
        </table>

        <br>

        <h3>Insolvent users:</h3>
        <div th:if="${#lists.isEmpty(srInsolventUsers)}">There are currently no insolvent users in the sales report.</div>
        <table th:unless="${#lists.isEmpty(srInsolventUsers)}">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
            <tr th:each="sriu,iter : ${srInsolventUsers}" th:class="${iter.odd}? 'odd' : 'even'">
                <td th:text="${sriu.getUserId()}"></td>
                <td th:text="${sriu.getUser().getUsername()}"></td>
                <td th:text="${sriu.getUser().getEmail()}"></td>
            </tr>
        </table>

        <br>

        <h3>Suspended orders:</h3>
        <div th:if="${#lists.isEmpty(srSuspendedOrders)}">There are currently no suspended orders in the sales report.</div>
        <table th:unless="${#lists.isEmpty(srSuspendedOrders)}">
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Order Amount</th>
            </tr>
            <tr th:each="srso,iter : ${srSuspendedOrders}" th:class="${iter.odd}? 'odd' : 'even'">
                <td th:text="${srso.getSubOrderId()}"></td>
                <td th:text="${srso.getSubscriptionOrder().getCreationTs()}"></td>
                <td th:text="${srso.getSubscriptionOrder().getTotalValue()}"></td>
            </tr>
        </table>

        <br>

        <h3>Best seller optional product:</h3>
        <div th:if="${srBestSellerProduct == null}">There are currently no optional products in the system.</div>
        <table th:unless="${srBestSellerProduct == null}">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Total sales</th>
            </tr>
            <tr>
                <td th:text="${srBestSellerProduct.getOptProdId()}"></td>
                <td th:text="${srBestSellerProduct.getOptionalProduct().getName()}"></td>
                <td th:text="${srBestSellerProduct.getTotalSales()}"></td>
            </tr>
        </table>

        <br>

        <h3>Auditing:</h3>
        <div th:if="${#lists.isEmpty(srAuditingRecords)}">There are currently no auditing records in the sales report.</div>
        <table th:unless="${#lists.isEmpty(srAuditingRecords)}">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>User email</th>
                <th>Auditing ID</th>
                <th>Payment rejection date</th>
                <th>Amount due</th>
            </tr>
            <tr th:each="srar,iter : ${srAuditingRecords}" th:class="${iter.odd}? 'odd' : 'even'">
                <td th:text="${srar.getUser.getId()}"></td>
                <td th:text="${srar.getUser.getUsername()}"></td>
                <td th:text="${srar.getUser.getEmail()}"></td>
                <td th:text="${srar.getId()}"></td>
                <td th:text="${srar.getRejectionTs()}"></td>
                <td th:text="${srar.getRejectedAmount()}"></td>
            </tr>
        </table>
    </div>

    <div th:if="${user == null || !user.isEmployee()}">
        You need to be an employee to access this page.
    </div>
</div>
</body>
</html>